<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start"> 
          <img src="../../../assets/img/logo.png" width="20%"/>           
          <ion-title>eService</ion-title>
        </ion-buttons>
        <ion-menu-button slot="end"></ion-menu-button>
      </ion-toolbar>
    </ion-header>
   <ion-content>
  <ion-list>
    <ion-item *ngFor="let p of pageservice">
    <ion-menu-toggle *ngIf="p.url">
      <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
        <ion-icon [name]="p.icon" slot="start"></ion-icon>
        <ion-label>
          {{ p.title }}
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-item>   
  </ion-list>  
</ion-content>  
</ion-menu>

<ion-router-outlet id="content1" main></ion-router-outlet>