<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>ข้อมูลของ {{Customername}} </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;" *ngFor="let item of data">
      <div class="col-md-6 col-sm-12 col-xs-12" id="" style="padding: 0px;padding-right: 5px;">
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>ลูกค้า </div>

          </div>
          <div class="row" style="padding: 15px;">
            <div class="col-4 text">ชื่อลูกค้า </div>
            <label class="col-8 subtext padding">{{item.CustomerName}} {{item.CustomerNameEng}}</label>
            <label class="col-4 text">อีเมลล์</label>
            <label class="col-8 subtext padding">{{item.Email}}</label>
            <label class="col-4 text">โทรศัพท์</label>
            <label class="col-8 subtext padding">{{item.Phone}}</label>
            <label class="col-4 text">แฟกซ์</label>
            <label class="col-8 subtext padding">{{item.Fax}}</label>
            <label class="col-4 text">ที่อยู่</label>
            <label class="col-8 subtext">{{item.Address}}</label>
            <label class="col-4 text">ชื่อบิล</label>
            <label class="col-8 subtext padding">{{item.BillName}}</label>
          </div>
        </div>
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-bank"></i>สำนักงานใหญ่ </div>

          </div>
          <div class="row" style="padding: 15px">
            <label class="col-4 text">ชื่อบัญชี</label>
            <label class="col-8 subtext padding">{{item.AccountName}}</label>
            <label class="col-4 text">ประเภทธุรกิจ</label>
            <label class="col-8 subtext padding">{{item.IndustryType}}</label>
            <label class="col-4 text">อีเมลล์</label>
            <label class="col-8 subtext padding">{{item.AccountEmail}}</label>
            <label class="col-4 text">โทรศัพท์</label>
            <label class="col-8 subtext padding">{{item.AccountPhone}}</label>
            <label class="col-4 text">แฟกซ์</label>
            <label class="col-8 subtext padding">{{item.AccountFax}}</label>
            <label class="col-4 text">รหัสลูกค้า</label>
            <label class="col-8 subtext padding">{{item.CustomerCode}}</label>
            <label class="col-4 text">ชื่อบิล</label>
            <label class="col-8 subtext padding">{{item.AccountBill}}</label>
          </div>
        </div>
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>พนักงานขาย </div>

          </div>
          <div class="row" style="padding: 15px">
            <label class="col-4 text">สถานะการทำงาน</label>
            <label class="col-8 subtext padding">{{item.WorkStatus}}</label>
            <label class="col-4 text">ประเภทงาน</label>
            <label class="col-8 subtext padding">{{item.WorkType}}</label>
            <label class="col-4 text">ชื่อ</label>
            <label class="col-8 subtext padding">{{item.NameSale}}</label>
            <label class="col-4 text">เพศ</label>
            <label class="col-8 subtext padding">{{item.Gender}}</label>
            <label class="col-4 text">กลุ่มงาน</label>
            <label class="col-8 subtext padding">-</label>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12" id="" style="padding: 0px;">
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-cube"></i>สินค้า</div>

          </div>
          <div style="padding: 5px;" *ngFor="let data of item.productInstall | keyvalue">
            <div (click)="click(item, data.value)">
              <div class="row col-12">
                <div class="col-4 text">สถานะ:</div>
                <div class="col-8 subtext" #lblWait style="color: #E78D8D;"
                  *ngIf="data.value.Workfinish == 0; else lblWait">รอการตรวจสอบ</div>
                <div class="col-8 subtext" #lblSuccess style="color: green;"
                  *ngIf="data.value.Workfinish == 1; else lblSuccess">สำเร็จ</div>
              </div>
              <div class="row col-12">
                <div class="col-4 text">สินค้าที่ติดตั้ง:</div>
                <div class="col-8 subtext">{{data.value.InstallPlanName}}</div>
              </div>
              <div class="row col-12">
                <label class="col-4 text">รหัสสินค้า:</label>
                <label class="col-8 subtext">{{data.value.ItemCode}}</label>  
              </div>
              <div class="row col-12">
                <label class="col-4 text">ชื่อสินค้า:</label>
                <label class="col-8 subtext">{{data.value.ItemsName}}</label>  
              </div>
              <div class="row col-12">
                <label class="col-4 text">Serial No:</label>
                <label class="col-8 subtext">{{data.value.SerialNo}}</label>  
              </div>
              <div class="row col-12">
                <label class="col-4 text" *ngIf="new">New Serial No:</label>
                <label class="col-8 subtext" *ngIf="new">{{data.value.SerialNoNew}}</label>  
              </div>
              <div class="row col-12" *ngIf="data.value.JobType != 'PM' && data.value.JobType != 'CM' else pmnot">
                <label class="col-4 text" #pmnot>ประเภทงาน :</label>
                <label class="col-8 subtext" #pmnot>{{data.value.JobType}}</label>
              </div>
              <div class="row col-12" *ngIf="data.value.JobType == 'CM' else cm">
                <label class="col-4 text" #cm>ประเภทงาน :</label>
                <label class="col-8 subtext" #pmnot>TK</label>
              </div>
              <div class="row col-12" *ngIf="data.value.JobType == 'PM' else pm">
                <label class="col-4 text" #pm>ประเภทงาน :</label>
                <label class="col-8 subtext" #pm>{{data.value.typePm}}</label>
              </div>
              <div class="row col-12" *ngIf="data.value.JobType == 'CM' && data.value.Workfinish == 1 else cm">
                <div class="col-4 text" #cm>การปิดงาน :</div>
                <div class="col-8 subtext" #cm>{{data.value.WorkClose}}</div>
              </div>
              <div class="row col-12" *ngIf="data.value.JobType == 'CM' && data.value.Workfinish == 1 else cm">
                <div class="col-4 text" #cm>การเปลี่ยนอุปกรณ์ :</div>
                <div class="col-8 subtext" #cm>{{data.value.TypeChang}}</div>
              </div>
              <div class="row col-12" *ngIf="data.value.sparepart != '' && data.value.JobType == 'PM' else spare">
                <div class="col-4 text" #spare>อะไหล่ที่ต้องเปลี่ยน :</div>
                <div class="col-8 subtext" #spare>
                  <div [innerHTML]="data.value.sparepart"></div>
                </div>
              </div>              
            </div>

            <div class="col-12">
              <ion-button size="small" (click)="Imgbf(data.value)" *ngIf="imgbf">ภาพหน้างาน</ion-button>
              <ion-button color="success" size="small" (click)="click(item, data.value)"
                *ngIf="data.value.Workfinish == 0 else wait" #wait>เริ่มงาน</ion-button>
            </div>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>