<ion-toolbar>
  <ion-title #hide *ngIf="jobtype != 'CM'; else hide">ความคิดเห็นของช่าง</ion-title>
  <ion-title #show *ngIf="jobtype == 'CM'; else show">{{header}}</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
      <div class="row">
          <div class="col-12" style="margin-top: 20px;" #show *ngIf="(jobtype == 'CM' && this.workclose != 'workclose') || (jobtype == 'CM' && this.workclose == 'workclose'); else show">
            <ion-item>
              <ion-label>หัวข้อการแก้ปัญหา</ion-label>
              <ion-select interface="popover" (ionChange)="onChange($event,'resolution')" [(ngModel)]="resolution">
                <ion-select-option *ngFor="let title of data" [value]="title.SystemID"
                    [selected]="title.SystemDataName">{{title.SystemDataName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="col-12" #show *ngIf="(jobtype == 'CM' && this.workclose != 'workclose') || (jobtype == 'CM' && this.workclose == 'workclose'); else show">
            <ion-item>
              <ion-label>วิธีการแก้ปัญหา</ion-label>
            </ion-item>
            <ion-item>    
              <textarea class="form-control" rows="3" [(ngModel)]="resolutiondetail"></textarea>
            </ion-item>
          </div>
          <div class="col-12" #hide *ngIf="this.workclose == 'workclose'; else hide">
            <ion-item>
              <ion-label>ความคิดเห็นเพิ่มเติมของช่าง</ion-label>
            </ion-item>
            <ion-item>    
              <textarea class="form-control" rows="3" [(ngModel)]="TecComment"></textarea>
            </ion-item>
          </div>         
        </div> 
        <div class="col-md-12 text-center" style="margin-top: 10px;">
          <ion-button  (click)="submit()">บันทึก</ion-button>
        </div>
  </div> 

</ion-content>