<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>รายละเอียดการเบิกอะไหล่</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-lg-12">
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>ข้อมูลลูกค้า</div>
            <div class="tools" *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ' && JobID != null; else lblOld">
              <span class="label label-sm label-success circle" (click)="Save()" #lblOld>บันทึก</span>
            </div>
            <div class="tools" *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ' && JobID != null; else lblTake">
              <span class="label label-sm label-success circle" (click)="Requested()" #lblTake>ขอเบิกอะไหล่</span>
            </div>
          </div>
          <div class="portlet-body">
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <ion-list>
                      <ion-item *ngIf="JobID == null; else lblNew" #lblNew>
                        <div class="col-4">
                          <ion-label color="primary">ค้นหา</ion-label>
                        </div>
                        <div class="col-6">
                          <ion-input [(ngModel)]="CustomerNameSearch"></ion-input>
                        </div>
                        <div class="col-2 pull-right">
                          <ion-icon name="search" (click)="onChange($event,'SearchCustomerName')"></ion-icon>                          
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">รหัสลูกค้า</ion-label>
                        </div>
                        <div class="col-6" *ngIf="JobID == null; else lblNew">
                          <ion-input #lblNew [(ngModel)]="CustomerCode"></ion-input>
                        </div>
                        <div class="col-2 pull-right" *ngIf="JobID == null; else lblNew">
                          <ion-icon name="search" (click)="onChange($event,'code')" #lblNew></ion-icon>
                          
                        </div>
                        <div class="col-8" *ngIf="JobID != null; else lblOld">
                          <ion-label #lblOld>{{CustomerCode}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">ชื่อลูกค้า</ion-label>
                        </div>
                        <div class="col-8"  *ngIf="JobID == null; else lblNew">
                          <ion-select interface="popover" (ionChange)="onChange($event,'cus')" #lblNew [(ngModel)]="CustomerID">
                            <ion-select-option style="text-align: left;" *ngFor="let title of Cus"
                              [value]="title.CustomerID" [selected]="true">{{title.CustomerName}}</ion-select-option>
                          </ion-select>
                        </div>
                        <div class="col-8" *ngIf="JobID != null; else lblOld">
                          <ion-label #lblOld>{{CustomerName}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">ที่อยู่ร้าน</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-textarea rows="3" [(ngModel)]="AddressSite"></ion-textarea>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">เบอร์โทรศัพท์ร้าน</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-label>{{TelCompany}}</ion-label>
                        </div>
                      </ion-item>
                    </ion-list>
                  </div>
                  <div class="col-12">
                    <ion-list>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">หมายเลขเอกสาร</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-label>{{ServiceReportNo}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">วันที่เบิก</ion-label>
                        </div>
                        <div class="col-8" *ngIf="JobID == null; else lblNew">
                          <ion-label>{{myDate | date: 'dd-MM-yyyy'}}</ion-label>
                        </div>
                        <div class="col-8" *ngIf="JobID != null; else lblOld">
                          <ion-label>{{myDate | date: 'dd-MM-yyyy'}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">เบอร์โทรศัพท์ช่าง</ion-label>
                        </div>
                        <div class="col-8"
                          *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ' && JobID != null || type == 'new'; else lblNew">
                          <ion-input type="number" [(ngModel)]="EngineerTel" #lblNew></ion-input>
                        </div>
                        <div class="col-8" *ngIf="JobID != null; else lblOld">
                          <ion-label #lblOld>{{EngineerTel}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">อ้างอิง</ion-label>
                        </div>
                        <div class="col-8"
                          *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ' && JobID != null || type == 'new'; else lblNew">
                          <ion-input [(ngModel)]="Reference" #lblNew></ion-input>
                        </div>
                        <div class="col-8" *ngIf="JobID != null; else lblOld">
                          <ion-label #lblOld>{{Reference}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-4">
                          <ion-label color="primary">ชื่อช่าง</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-label>{{name}}</ion-label>
                        </div>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="text-align: right; padding: 20px;"
        *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ' && CusID != null; else lblOld">
        <span class="label label-sm label-warning" (click)="spare()" #lblOld> เพิ่มอะไหล่ </span>
      </div>
      <div class="col-lg-12" *ngIf="JobID != null; else lbltable">
        <div class="portlet light " #lbltable>
          <div class="portlet-body">
            <div class="table-scrollable">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th> ลำดับที่ </th>
                    <th> ประเภทเครื่อง </th>
                    <th> รายละเอียดเครื่อง </th>
                    <th> จำนวน </th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i = index">
                    <td> {{i+1}}</td>
                    <td> {{item.AssetType}} </td>
                    <td> {{item.AssetNo}} </td>
                    <td> {{item.Qty}} </td>
                    <td *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ'; else lblOld">
                      <span class="label label-sm label-warning" (click)="Edit(item)" #lblOld> แก้ไข </span>
                    </td>
                    <td *ngIf="Status != 'อนุมัติ' && Status != 'รออนุมัติ'; else lblOld">
                      <span class="label label-sm label-danger" (click)="Delete(item)" #lblOld> ลบ </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
