<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ตั้งค่า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="polaroid center">
    <img src="../../../assets/img/logo.png">
  </div>
  <div class="head" style="margin-top: 5px; margin-bottom: 10px;">บริษัท สุพีเรียฟู้ด เซอร์วิส จำกัด</div>
  <div class="head">19 1-2 ถนน พัฒนาชนบท 2</div>
  <div class="head">แขวงคลองสองต้นนุ่น เขตลาดกระบัง กรุงเทพมหานคร 10520</div>
  <div class="head">Office: 02-184-9780-5</div>
  <div class="head">Fax: 02-184-9786</div>
  <div class="text-center">
    <div class="btn" (click)="Changpassword()">เปลี่ยนรหัสผ่าน</div>
  </div>
  <div class="text-center">
    <div class="btn" (click)="logout()">ออกจากระบบ</div>
  </div>
</ion-content>