<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-title>สรุปผล{{typethai}}&nbsp;({{typeeng}})</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="row" style="padding: 5px;" *ngFor="let item of result">
            <div class="col-12 col-sm-12 col-md-12" style="padding: 0px;">
                <div class="portlet blue box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-dashboard"></i>ข้อมูลโดยรวม</div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            <label class="col-6">ชื่อลูกค้า&nbsp;:&nbsp;{{item.CustomerName}} {{item.CustomerNameEng}}</label>
                            <label class="col-6">ผู้ตรวจเช็ค&nbsp;:&nbsp;{{item.Name}}</label>
                        </div>
                        <div>
                            <label class="col-6">โทรศัพท์&nbsp;:&nbsp;{{item.Phone}} </label>
                            <label class="col-6">วันที่กำหนด&nbsp;:&nbsp;{{item.service_date_plan}}</label>
                        </div>
                        <div>
                            <label class="col-6">ที่อยู่ร้าน&nbsp;:&nbsp;{{item.Address}}</label>
                            <label class="col-6">ต่างจากวันกำหนด&nbsp;:&nbsp;{{item.TimeDiff}}</label>
                        </div>
                        <div>
                            <label class="col-6">ประเภทสินค้า&nbsp;:&nbsp;{{item.InstallPlanName}} </label>
                            <label class="col-6">เริ่มทำงาน&nbsp;:&nbsp;{{item.start_service_date}}</label>
                        </div>
                        <div *ngIf="!isdevice">
                            <label class="col-6">Serial&nbsp;No&nbsp;:&nbsp;{{item.SerialNo}}</label>
                            <label class="col-6">เสร็จงาน&nbsp;:&nbsp;{{item.end_service_date}}</label>
                        </div>
                        <div *ngIf="!isdevice">
                            <label class="col-6">ชื่อสินค้า&nbsp;:&nbsp;{{item.ItemsName}}</label>
                            <label class="col-6">เวลาที่ใช้&nbsp;:&nbsp;{{item.TimeSpent}}</label>
                        </div>
                        <div *ngIf="isdevice">
                            <label class="col-6">Serial&nbsp;No&nbsp;:&nbsp;{{item.SerialNoNew}}</label>
                            <label class="col-6">เสร็จงาน&nbsp;:&nbsp;{{item.end_service_date}}</label>
                        </div>
                        <div *ngIf="isdevice">
                            <label class="col-6">ชื่อสินค้า&nbsp;:&nbsp;{{item.ItemsNameNew}}</label>
                            <label class="col-6">เวลาที่ใช้&nbsp;:&nbsp;{{item.TimeSpent}}</label>
                        </div>
                        <div *ngIf="type == 'CM'else chang" #chang>
                            <hr>
                            <label class="col-12">การเปลี่ยนอุปกรณ์ : เปลี่ยน{{typeChang}}</label>
                        </div>
                        <div *ngIf="isdevice">
                            <div *ngFor="let i of devices;">
                                <label class="col-4">สินค้าที่ติดตั้ง&nbsp;:&nbsp;{{i.InstallPlanName}}</label>
                                <label class="col-8">ชื่อสินค้า&nbsp;:&nbsp;{{i.ItemsName}}</label>
                                <label class="col-4">รหัสสินค้า&nbsp;:&nbsp;{{i.ItemCode}}</label>
                                <label class="col-8">Serial No&nbsp;:&nbsp;{{i.SerialNo}}</label>
                            </div>
                        </div>
                        <div *ngIf="isspare">
                            <div *ngFor="let i of devices;">
                                <label class="col-4">ชื่ออุปกรณ์เสริม&nbsp;:&nbsp;{{i.Name}}</label>
                                <label class="col-8">Part No.&nbsp;:&nbsp;{{i.Serial}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                <div class="row" *ngIf="isShowImage">
                    <div class="col-6" style="padding-right: 0px;">
                        <div class="portlet blue box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-file-image-o"></i>ภาพถ่ายก่อนการทำงาน</div>
                            </div>
                            <div class="portlet-body">
                                <img [src]="img.src1" *ngIf="isShowImage1" />
                                <img [src]="img.src2" *ngIf="isShowImage2" />
                                <img [src]="img.src3" *ngIf="isShowImage3" />
                                <img [src]="img.src4" *ngIf="isShowImage4" />
                                <img [src]="img.src5" *ngIf="isShowImage5" />
                                <img [src]="img.src6" *ngIf="isShowImage6" />
                                <img [src]="img.src7" *ngIf="isShowImage7" />
                                <img [src]="img.src8" *ngIf="isShowImage8" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="padding-left: 0px;">
                        <div class="portlet blue box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-file-image-o"></i>ภาพถ่ายหลังการทำงาน</div>

                            </div>
                            <div class="portlet-body">
                                <img [src]="img.src9" *ngIf="isShowImage9" />
                                <img [src]="img.src10" *ngIf="isShowImage10" />
                                <img [src]="img.src11" *ngIf="isShowImage11" />
                                <img [src]="img.src12" *ngIf="isShowImage12" />
                                <img [src]="img.src13" *ngIf="isShowImage13" />
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
            <!-- <div *ngIf="type == 'PM'; else checklist" #checklist class="text-center">
        <ion-button *ngFor="let item of result" shape="round" (click)="editChecklist()">แก้ไขใบรายงานตรวจสอบ{{item.InstallPlanName}}</ion-button>
    </div> -->
            
        </div>
        <div class="col-12 col-sm-12 col-md-12" style="width:100%;height:100%;padding: 0px;" *ngIf="ShowList">
            <iframe [src]="url" style="width:100%;height:100%">
            </iframe>
        </div>
</ion-content>