<ion-toolbar>
  <ion-title>รายการตรวจซ่อม</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <!-- <iframe [src]="url" style="width:100%;height:100%"></iframe> -->
  <div class="col-12">
    <div class="row">
      <div class="col-4 hidden" style="padding-right: 0px;">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>สินค้าที่ติดตั้ง : {{InstallPlanName}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>รหัสสินค้า : {{ItemCode}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>ชื่อสินค้า : {{ItemsName}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Serial No : {{SerialNo}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-12" style="padding-left: 0px;">
        <ion-card *ngIf="isShowType">
          <ion-card-content>
            <ion-button expand="block" (click)="chang('device')" *ngIf="isdevice">เปลี่ยนเครื่อง</ion-button>
            <ion-button expand="block" (click)="chang('sparepart')" *ngIf="isspare">เปลี่ยนอะไหล่</ion-button>            
            <ion-button expand="block" (click)="chang('non')" *ngIf="isnon">ไม่เปลี่ยนเครื่อง/อะไหล่</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="isShowDevice == true && status == false; device" #device>
          <ion-card-content>
            <ion-card-title>เปลี่ยนเครื่อง</ion-card-title>
            <ion-item>
              <ion-icon name="search" slot="end" (click)="search()">Search</ion-icon>
              <ion-input type="text" placeholder="Serial No." [(ngModel)]="serial" name="serial"></ion-input>
              <ion-icon name="barcode" slot="end" (click)="scan()"></ion-icon>
            </ion-item>
            <div class="tab-content" *ngIf="isShowDeviceDetail == false ;hide" #hide>
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <div class="table-scrollable">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> ชื่อเครื่อง </th>
                            <th> Serial No. </th>
                            <th> ประเภทเครื่อง </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of data; let i = index">
                            <td style="padding-top:15px;"> {{item.AssetNo}} </td>
                            <td style="padding-top:15px;"> {{item.SerialNo}}</td>
                            <td style="padding-top:15px;">{{item.type}}</td>
                            <td>
                              <ion-button shape="round" color="warning" class="text-center"
                                (click)="AddCM('Devices',item)"> เลือก</ion-button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        <div *ngIf="isShowDevice == true && isShowDeviceDetail == false; show">
          <ion-card #show *ngFor="let item of status;">
            <ion-card-content>
              <ion-item>
                <ion-label>เครื่องที่เปลี่ยน : {{item.InstallPlanName}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>รหัสสินค้า : {{item.ItemCode}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>ชื่อสินค้า : {{item.ItemsName}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Serial No : {{item.SerialNo}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <div class="text-center">
            <ion-button shape="round" color="primary" class="text-center" (click)="EditDevice(item)">เปลี่ยนเครื่อง
            </ion-button>
          </div>
        </div>
        <ion-card *ngIf="isEditDevice == true; edit" #edit>
          <ion-card-content>
            <ion-card-title>เปลี่ยนเครื่อง</ion-card-title>
            <ion-item>
              <ion-icon name="search" slot="end" (click)="search()">Search</ion-icon>
              <ion-input type="text" placeholder="Serial No." [(ngModel)]="serial" name="serial"></ion-input>
              <ion-icon name="barcode" slot="end" (click)="scan('device')"></ion-icon>
            </ion-item>
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <div class="table-scrollable">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> ชื่อเครื่อง </th>
                            <th> Serial No. </th>
                            <th> ประเภทเครื่อง </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of data; let i = index">
                            <td style="padding-top:15px;"> {{item.AssetNo}} </td>
                            <td style="padding-top:15px;"> {{item.SerialNo}}</td>
                            <td style="padding-top:15px;">{{item.type}}</td>
                            <td>
                              <ion-button shape="round" color="warning" class="text-center"
                                (click)="AddCM('Devices',item)"> เลือก</ion-button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="isShowSpare">
          <ion-card-content>
            <ion-card-title>เปลี่ยนอะไหล่</ion-card-title>
            <ion-item>
              <ion-icon name="search" (click)="Add()"></ion-icon>
              <ion-input type="text" placeholder="Part No." [(ngModel)]="sparepart" name="serial"></ion-input>
              <ion-icon name="barcode" (click)="scan('spare')"></ion-icon>
            </ion-item>
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <div class="table-scrollable">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> ลำดับที่ </th>
                            <th> ชื่ออุปกรณ์เสริม </th>
                            <th> Part No. </th>
                            <th> จำนวน </th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listreal; let i = index">
                            <td style="padding-top:15px;">
                              {{i+1}}
                            </td>
                            <td style="padding-top:15px;"> {{item.Name}} </td>
                            <td style="padding-top:15px;"> {{item.Serial}}</td>
                            <td style="padding-top:15px;">{{item.Balance}}</td>
                            <td>
                              <ion-button shape="round" color="warning" class="text-center" (click)="select(i,item)">
                                เลือก</ion-button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        <div *ngIf="isEditSpare">
          <ion-card>
            <ion-card-content>
              <ion-card-title>อะไหล่ที่เปลี่ยน</ion-card-title>
              <div class="tab-content">
                <div class="tab-pane active">
                  <div class="row">
                    <div class="col-12">
                      <div class="table-scrollable">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th> ลำดับที่ </th>
                              <th> ชื่ออุปกรณ์เสริม </th>
                              <th> Part No. </th>
                              <th> จำนวน </th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of spareList; let i = index">
                              <td style="padding-top:15px;">{{i+1}}</td>
                              <td style="padding-top:15px;"> {{item.Name}}</td>
                              <td style="padding-top:15px;"> {{item.Serial}}</td>
                              <td style="padding-top:15px;">{{item.Balance}}</td>
                              <td>
                                <ion-button shape="round" color="danger" class="text-center" (click)="remove(i,item)">
                                  ลบ
                                </ion-button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="text-center">
                          <ion-button shape="round" color="success" class="text-center"
                            (click)="AddCM('Spareparts',spareList)"> ยืนยันการเปลี่ยนอะไหล่</ion-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

      </div>
    </div>
  </div>
</ion-content>