/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";  
@import "~font-awesome/css/font-awesome.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.my-custom-modal-css .modal-wrapper {
    width: 60%; 
    height: 90%;
 }

 .my-custom-modal-css-pm .modal-wrapper {
    width: 100%; 
    height: 100%;
 }

 .my-custom-modal-css-stock .modal-wrapper {
   width: 60%; 
   height: 90%;
}
.custom-alert .modal-wrapper {
   width: 1200px; 
 }

 .sc-ion-alert-md-h{
   --max-width:600px !important;
   --min-width:599px !important; 
 }

 .my-custom-modal-css-report .modal-wrapper {
   display: none;
   width: 0%; 
   height: 0%;
 }