<ion-toolbar>
    <ion-title>รายการตรวจเช็ค</ion-title>
    <ion-buttons slot="primary">
      <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content>
      <iframe [src]="url" style="width:100%;height:100%"></iframe>
    </ion-content>
   